:root {
  --primary-color: #0E161A;
  --secondary-color: #333543;
}

.main {
  background-color: var(--primary-color);
  color: white;
}

@font-face {
  font-family: Workbench;
  src: url("./fonts/workbench.ttf")
}

.title {
  font-family: Workbench;
  color: white;
  line-height: 1;
}
.subtitle {
  color: white;
  line-height: 1;
}

.app-bar {
  background-color: var(--primary-color);
}

.main {
  width: 100%;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.0em;
}

h4 {
  font-size: 0.75em;
}

p {
  font-size: 1.0em;
}
